* {
    font-family: Lato;
}

.contents-with-nav {
    position: absolute;
    top: 40px; /* must match <navi> height+ header height*/
    bottom: 0px;
    right: 0;
    left: 0;
    overflow: auto;
}
