* {
    font-family: Lato;
}

header {
    width: 100%;
    background-color: #493761;
    color: #FFF;
    font-size: 130%;
    line-height: 2.0;
    text-align: center;
    height: 1em;
}
[v-cloak] {
    display: none;
}

header {
    position: absolute;
    height: 50px;
    top: 0px;
    width: 100%;
    left: 0px;
}

main {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    bottom: 0px;
    overflow: auto;
}

h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}

.backButton {
    height: 50px;
    width: 50px;
    font-size: 40px;
    line-height: 1;
    box-sizing: border-box;
}
.backButton,
.backButton a {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: #FFFFFF;
    text-decoration: none;
}

.vue-map-container {
  position: absolute;
  left: 0;
  top: 0;
}

.contents-with-nav {
    position: absolute;
    top: 40px; /* must match <navi> height+ header height*/
    bottom: 0px;
    right: 0;
    left: 0;
    overflow: auto;
}

#loading-overlay {
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}
